
/_ReSharper.AspNet.NoMvcAndTinyControllers
/AspNet.NoMvc.Mvc1/bin
/AspNet.NoMvc.Mvc1/obj
/AspNet.NoMvc.Mvc2/bin
/AspNet.NoMvc.Mvc2/obj
/AspNet.NoMvc.Mvc3/bin
/AspNet.NoMvc.Mvc3/obj
/AspNet.NoMvc.Mvc4/bin
/AspNet.NoMvc.Mvc4/obj
/AspNet.NoMvc.Sample/AspNet.NoMvc.Sample.csproj.user
/AspNet.NoMvc.Sample/bin
/AspNet.NoMvc.Sample/obj
/AspNet.NoMvcAndTinyControllers.Sample/AspNet.NoMvcAndTinyControllers.Sample.csproj.user
/AspNet.NoMvcAndTinyControllers.Sample/bin
/AspNet.NoMvcAndTinyControllers.Sample/obj
/AspNet.TinyControllers.Mvc1/bin
/AspNet.TinyControllers.Mvc1/obj
/AspNet.TinyControllers.Mvc1.Sample/AspNet.TinyControllers.Mvc1.Sample.csproj.user
/AspNet.TinyControllers.Mvc1.Sample/bin
/AspNet.TinyControllers.Mvc1.Sample/obj
/AspNet.TinyControllers.Mvc2/bin
/AspNet.TinyControllers.Mvc2/obj
/AspNet.TinyControllers.Mvc2.Sample/AspNet.TinyControllers.Mvc2.Sample.csproj.user
/AspNet.TinyControllers.Mvc2.Sample/bin
/AspNet.TinyControllers.Mvc2.Sample/obj
/AspNet.TinyControllers.Mvc3/bin
/AspNet.TinyControllers.Mvc3/obj
/AspNet.TinyControllers.Mvc3.Sample/AspNet.TinyControllers.Mvc3.Sample.csproj.user
/AspNet.TinyControllers.Mvc3.Sample/bin
/AspNet.TinyControllers.Mvc3.Sample/obj
/AspNet.TinyControllers.Mvc4/bin
/AspNet.TinyControllers.Mvc4/obj
/AspNet.TinyControllers.Mvc4.Sample/AspNet.TinyControllers.Mvc4.Sample.csproj.user
/AspNet.TinyControllers.Mvc4.Sample/bin
/AspNet.TinyControllers.Mvc4.Sample/obj
/MvcApplication1.v11.suo
/AspNet.NoMvcAndTinyControllers.ncrunchsolution
/AspNet.NoMvcAndTinyControllers.ncrunchsolution.user
/AspNet.NoMvcAndTinyControllers.suo
/AspNet.NoMvcAndTinyControllers.v11.suo
/MvcApplication1.sln.docstates.suo
/MvcApplication1.suo
/AspNet.NoMvc.Mvc1.Sample/AspNet.NoMvc.Mvc1.Sample.csproj.user
/AspNet.NoMvc.Mvc1.Sample/bin
/AspNet.NoMvc.Mvc1.Sample/obj
/AspNet.NoMvc.Mvc2.Sample/AspNet.NoMvc.Mvc2.Sample.csproj.user
/AspNet.NoMvc.Mvc2.Sample/bin
/AspNet.NoMvc.Mvc2.Sample/obj
/AspNet.NoMvc.Mvc3.Sample/AspNet.NoMvc.Mvc3.Sample.csproj.user
/AspNet.NoMvc.Mvc3.Sample/bin
/AspNet.NoMvc.Mvc3.Sample/obj
/AspNet.NoMvc.Mvc4.Sample/AspNet.NoMvc.Mvc4.Sample.csproj.user
/AspNet.NoMvc.Mvc4.Sample/bin
/AspNet.NoMvc.Mvc4.Sample/obj
/AspNet.NoMvcAndTinyControllers.sln.DotSettings.user
/AspNet.NoMvc.Mvc1.Sample/AspNet.NoMvc.Mvc1.Sample.csproj.DotSettings.user
/AspNet.NoMvc.Mvc1/AspNet.NoMvc.Mvc1.csproj.DotSettings.user
/AspNet.NoMvc.Mvc2.Sample/AspNet.NoMvc.Mvc2.Sample.csproj.DotSettings.user
/AspNet.NoMvc.Mvc3.Sample/AspNet.NoMvc.Mvc3.Sample.csproj.DotSettings.user
/AspNet.NoMvc.Mvc3.Tests/AspNet.NoMvc.Mvc3.Tests.csproj.DotSettings.user
/AspNet.NoMvc.Mvc2/AspNet.NoMvc.Mvc2.csproj.DotSettings.user
/AspNet.NoMvc.Mvc3/AspNet.NoMvc.Mvc3.csproj.DotSettings.user
/AspNet.NoMvc.Mvc3.Tests/bin
/AspNet.NoMvc.Mvc3.Tests/obj
/AspNet.NoMvc.Mvc4.Tests/obj
/AspNet.NoMvc.Mvc4.Tests/bin
/AspNet.NoMvc.Mvc4.Sample/AspNet.NoMvc.Mvc4.Sample.csproj.DotSettings.user
/AspNet.NoMvc.Mvc4.Tests/AspNet.NoMvc.Mvc4.Tests.csproj.DotSettings.user
/AspNet.NoMvc.Mvc4/AspNet.NoMvc.Mvc4.csproj.DotSettings.user
/AspNet.NoMvcAndTinyControllers.6.0.ReSharper.user
/AspNet.NoMvcAndTinyControllers.Sample/AspNet.NoMvcAndTinyControllers.Sample.csproj.DotSettings.user
/AspNet.NoMvcAndTinyControllers.sln.docstates.suo
/AspNet.TinyControllers.Mvc1.Sample/AspNet.TinyControllers.Mvc1.Sample.csproj.DotSettings.user
/AspNet.TinyControllers.Mvc1/AspNet.TinyControllers.Mvc1.csproj.DotSettings.user
/AspNet.TinyControllers.Mvc2.Sample/AspNet.TinyControllers.Mvc2.Sample.csproj.DotSettings.user
/AspNet.TinyControllers.Mvc2/AspNet.TinyControllers.Mvc2.csproj.DotSettings.user
/AspNet.TinyControllers.Mvc3.Sample/AspNet.TinyControllers.Mvc3.Sample.csproj.DotSettings.user
/AspNet.TinyControllers.Mvc3/AspNet.TinyControllers.Mvc3.csproj.DotSettings.user
/AspNet.TinyControllers.Mvc4.Sample/AspNet.TinyControllers.Mvc4.Sample.csproj.DotSettings.user
/AspNet.TinyControllers.Mvc4/AspNet.TinyControllers.Mvc4.csproj.DotSettings.user

/Article.txt
/AspNet.NoMvc.Mvc1.Tests/bin
/AspNet.NoMvc.Mvc1.Tests/obj
/AspNet.NoMvc.Mvc2.Tests/obj
/AspNet.NoMvc.Mvc2.Tests/bin