
/_ReSharper.AspNet.NoMvcAndTinyControllers
/AspNet.NoMvc.Mvc1/bin
/AspNet.NoMvc.Mvc1/obj
/AspNet.NoMvc.Mvc2/bin
/AspNet.NoMvc.Mvc2/obj
/AspNet.NoMvc.Mvc3/bin
/AspNet.NoMvc.Mvc3/obj
/AspNet.NoMvc.Mvc4/bin
/AspNet.NoMvc.Mvc4/obj
/AspNet.NoMvc.Sample/AspNet.NoMvc.Sample.csproj.user
/AspNet.NoMvc.Sample/bin
/AspNet.NoMvc.Sample/obj
/AspNet.NoMvcAndTinyControllers.Sample/AspNet.NoMvcAndTinyControllers.Sample.csproj.user
/AspNet.NoMvcAndTinyControllers.Sample/bin
/AspNet.NoMvcAndTinyControllers.Sample/obj
/AspNet.TinyControllers.Mvc1/bin
/AspNet.TinyControllers.Mvc1/obj
/AspNet.TinyControllers.Mvc1.Sample/AspNet.TinyControllers.Mvc1.Sample.csproj.user
/AspNet.TinyControllers.Mvc1.Sample/bin
/AspNet.TinyControllers.Mvc1.Sample/obj
/AspNet.TinyControllers.Mvc2/bin
/AspNet.TinyControllers.Mvc2/obj
/AspNet.TinyControllers.Mvc2.Sample/AspNet.TinyControllers.Mvc2.Sample.csproj.user
/AspNet.TinyControllers.Mvc2.Sample/bin
/AspNet.TinyControllers.Mvc2.Sample/obj
/AspNet.TinyControllers.Mvc3/bin
/AspNet.TinyControllers.Mvc3/obj
/AspNet.TinyControllers.Mvc3.Sample/AspNet.TinyControllers.Mvc3.Sample.csproj.user
/AspNet.TinyControllers.Mvc3.Sample/bin
/AspNet.TinyControllers.Mvc3.Sample/obj
/AspNet.TinyControllers.Mvc4/bin
/AspNet.TinyControllers.Mvc4/obj
/AspNet.TinyControllers.Mvc4.Sample/AspNet.TinyControllers.Mvc4.Sample.csproj.user
/AspNet.TinyControllers.Mvc4.Sample/bin
/AspNet.TinyControllers.Mvc4.Sample/obj
/MvcApplication1.v11.suo
/AspNet.NoMvcAndTinyControllers.ncrunchsolution
/AspNet.NoMvcAndTinyControllers.ncrunchsolution.user
/AspNet.NoMvcAndTinyControllers.suo
/AspNet.NoMvcAndTinyControllers.v11.suo
/MvcApplication1.sln.docstates.suo
/MvcApplication1.suo